.row {
    max-width: $grid-width;
    margin: 0 auto;

    &:not(:last-child) {
        margin-bottom: $gutter-vetical;
    }

    // @include clearfix;

    [class^="col-"] {
        width: calc((100% - #{$gutter-horizontal})/2);
        float: left;

        &:not(:last-child) {
            margin-right: $gutter-horizontal;
        }
    }
}